* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgba(20, 20, 20, 0.801);
  width: 100%;
  height: 100vh;
}

.main {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
}

/* Header */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid ;
}

.header__store-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  text-decoration: none;
  color: #79b257;
}
.logo__text {
  display: flex;
  gap: 10px;
  font-size: 32px;
}

.logo__shopping-bag {
  width: 45px;
  height: 45px;
  background: url(./assets/svg/shopping-logo-svgrepo-com.svg);
}

.header__cart {
  display: flex;
  align-items: center;
  color: #79b257;
}

.cart__pic {
  width: 60px;
  height: 60px;
  background: url(./assets/svg/carbon_shopping-cart/Vectorcart.svg) no-repeat center;
  
}

.cart__quantity {
  font-size: 24px;
}

.header__total {
color: #79b257;
}

/* Footer */
.footer {
  display: flex;
  width: 100%;
  height: 60px;
  flex: 0 0 auto;
  border-top: 1px solid;
}

.footer__wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rss__wrap {
  height: 70px;
  width: 160px;
  transition: all .2s;
}

.rss__wrap:hover {
  transform: scale(1.05);
  transition: all .2s;
}

.rss {
  margin-left: 1rem;
  margin-right: 1rem;
  width: 120px;
  height: 60px;
  background-image: url(./assets/svg/rsschool.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gh__logo {
  width: 20px;
  height: 20px;
  background-image: url(./assets/svg/github.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gh__id {
  font-size: 16px;
}

.gh__person {
  text-decoration: none;
  color: #79b257;
  font-size: 28px;
  transition: all .2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.gh__person:hover {
  color: #93de68;
  transform: scale(1.05);
  transition: all .2s;
}

.birth {
  color: #79b257;
}
